<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaPoolRides"
        tools:targetApi="31">
        <activity
            android:name=".DriverRideActivities.DriverDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRideActivities.RideHomeActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRideActivities.OfferRideDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRideActivities.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRideActivities.ArrivalActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRideActivities.ScheduleRideActivity"
            android:exported="false"
            android:parentActivityName=".CustomerHomeActivity" />
        <activity
            android:name=".CustomerRideActivities.ViewRideDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRideActivities.CustomerRideActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRideActivities.ViewRidesActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRideActivities.RidePrefsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivities.DriverLoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivities.CustomerLoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRideActivities.QRCodeActivity"
            android:exported="false"
            android:parentActivityName=".DriverHomeActivity" />
        <activity
            android:name=".DriverRideActivities.AcceptRideActivity"
            android:exported="false" />
        <activity
            android:name=".DriverHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivities.QuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivities.RegistrationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomerAccountActivities.EditAccountActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerAccountActivities.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerAccountActivities.PremimumSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerAccountActivities.ViewAccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="your API key" />
    </application>

</manifest>